anyio==3.2.1
chardet==4.0.0
entrypoints==0.3
idna==2.10
ipywidgets==7.6.3
jedi==0.17.0
jupyter-server==1.9.0
jupyterlab-widgets==1.0.0
mistune==0.8.4
mysql-connector-python==8.0.25
numpy==1.21.0
pandas==1.2.5
protobuf==3.17.3
pytz==2021.1
#pywin32==227
pywinpty==0.5.7
pyzmq==20.0.0
requests==2.25.1
requests-unixsocket==0.2.0
sniffio==1.2.0
#terminado==0.9.4
urllib3==1.26.6
voila==0.2.10
webencodings==0.5.1
websocket-client==1.1.0
widgetsnbextension==3.5.1
wincertstore==0.2
